/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
    line-height: 150%;
    color: #383E66;
}

h1{
    font-size: 2.441em;
}

h2{
    font-size: 1.953em;
}

h3{
  font-size: 1.563em;  
}

.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4{
    flex: 0 0 32.5%;
    max-width: 32.5%;
}

.col-footer{
    flex: 0 0 18%;
    max-width: 18%;
}

.section{
    margin-top: 40px;
}

.align-center{
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}
/* END OF GENERAL */

/* NAVIGATION */
.sale{
    background: #000;
    padding: 10px;
}

.sale .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

span.close{
    transform: rotate(45deg);
    color: #fff;
    font-size: 2em;
    position: absolute;
    z-index: 3;
    left: calc(100% - 30px);
    cursor: pointer;
}

.sale h4{
    color: #fff;
    padding-right: 30px;
}

.sale h4 span{
    color: #2BEA81;
}

.burger-menu{
    width: 15px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: flex !important;
}

.burger-menu span.line{
    width: 30px;
    height: 3px;
    background-color: #383E66;
    display: block;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
}

nav ul{
    display: flex;
}

.navigation-menu-opened{
    display: block !important;
    color: #fff;
    z-index: 2;
}

nav ul li{
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}

.list-item:hover, .dropdown-menu li:hover a{
    color: #2B67F5;
}

ul .list-item-dropdown::after{
    content: url("./images/arrow.svg");
    padding-left: 5px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: #fff;
    padding: 15px 15px 15px 0;
    border-radius: 7px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-menu a{
    font-weight: bold;
}

.menu-heading{
    color: #9B9EB2;
    border-bottom: 1px solid #CDCED9;
    font-size: 0.85em;
}

.team-cards{
    color: #2B67F5;
    border-bottom: 2px solid;
}

.list-item:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    padding: 10px 0;
}

.lang, .login{
    display: flex;
}

.lang{
    margin-right: 20px;
}

.lang li a{
    color: #CDCED9;
    font-weight: bold;
}

.lang li a:hover{
    color: #2B67F5;
}

.lang li .lang-active, .lang li .lang-active:hover{
    color: #383E66;
}

#nav-toggle{
    font-size: 20px;
}

    /* MOBILE NAVIGATION */
.overlay{
    left: -100%;
    transition: 0.4s ease-out;    background: #383E66;
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: .2;
}

.overlay-active{
    left: 0;
    opacity: 1;
}

.overlay-top{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.overlay-top .btn-green{
    margin-right: 40px;
}

.mobile-menu-active #nav-toggle{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    font-size: 30px;
    transform: rotate(45deg);
    -webkit-tap-highlight-color: transparent;
    padding: 20px;
    color: #fff;
    animation: fade 0.4s ease-out;
}

.mobile-menu-active .login{
    display: flex;
    align-items: flex-start;
    position: fixed;
    bottom: 50px;
    width: calc(100% - 30px);
    z-index: 9;
    color: #fff;
    animation: fade 0.4s ease-out;
}

.mobile-menu-active .login a.btn-blue-outline{
    border: 1.5px solid #fff;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.mobile-menu-active .lang li a{
    font-size: 1.3em;
}

.mobile-menu-active .lang li .lang-active{
    color: #fff;
}

.mobile-menu-active #main-menu{
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    top: 20%;
    position: fixed;
    z-index: 9;
    animation: fade 0.4s ease-out;
}

.mobile-menu-active #main-menu li{
    color: #fff;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 1.3em;
}

.mobile-menu-active #main-menu li::after, .mobile-menu-active #main-menu li .dropdown-menu{
    display: none;
}
/* END OF NAVIGATION */


/* SUMMER SALE */
.hero {
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    height: 400px;
    width: calc(100% - 30px);
    text-align: center;
    background: url("./images/summer_dt.png.webp") center;
    background-size: cover;
    border-radius: 12px;
}

.summer-sale{
    max-width: 350px;
}

.summer-sale p{
    margin-top: 25px;
    font-size: 0.9em;
}

.offer-ends{
    font-size: 0.9em;
    display: block;
    margin-top: 10px;
}

.sale-cta{
    color: #2B67F5;
    font-weight: bold;
    padding: 10px 0 15px;
    border-bottom: 1px solid #383E66;
}
/* END OF SUMMER SALE */

/* MAIN */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-image img{
    width: 100%;
}

.dont-waste-time{
    color: #2B67F5;
}

.main-text h2, .main-text p{
    margin-right: 100px;
}

.main-text h2{
    margin-bottom: 16px;
}

.main-text p{
    font-size: 1.25em;
}

.main-text .free-trial{
    font-size: 0.85em;
    margin: 0;
}

.main-cta-buttons{
    display: flex;
    margin: 15px 0;
}

.main-cta-buttons a:first-child{
    margin-right: 10px;
}

.btn-green{
    color: #383E66;
    background: #2AFC85;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding:1em;
    font-size: .75em;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.btn-green:hover{
    background: #2BEA81;
}

.btn-blue-outline{
    color: #2B67F5;
    background: none;
    border: 1px solid #2B67F5;
    text-transform: uppercase;
    font-weight: bold;
    padding:1em;
    font-size: .75em;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.btn-blue-outline:hover{
    background: #E6F4FF;
}
/* END OF MAIN */

/* ADDITIONAL INFO VARIATIONS */
.variatons{
    justify-content: center;
}

.variatons ul{
    display: flex;
    justify-content: center;
}

.tabs{
    font-weight: bold;
    color: #CDCED9;
    padding-bottom: 7px;
    border-bottom: 3px solid #CDCED9;
    text-align: center;
    cursor: pointer;
}

.info-tabs{
    font-weight: bold;
    color: #CDCED9;
    font-size: 1.5em;
    cursor: pointer;
}

.info-tabs:nth-child(2){
    margin: 15px 0;
}

.info-tabs:hover, .tabs:hover{
    color: #383E66;
}

.tabs-active{
    color: #383E66;
    border-color: #2AFC85;
}

.variatons ul li:nth-of-type(2){
    margin: 0 30px;
}

.variation-section h2{
    text-align: center;
    margin: 40px auto;
    width: 60%;
}

.corporate-card{
    font-weight: bold;
}

.variation-section-text{
    font-size: 1.125em;
    margin: 15px 0;
}

.variation-section{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.inactive{
    display: none;
}

.mobile-only{
    display: none;
}
/* END OF ADDITIONAL INFO VARIATIONS */

/* REVIEWS */
.reviews{
    flex-direction: column;
    margin: 100px auto 0;
}

.review-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-position{
    font-weight: bold;
}

.user-image{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: url("./images/Krzysztof-Piernicki-1-300x200-1.jpg.webp") center;
    background-size: cover;
}

.review-text{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
    max-width: 60%;
}

.review-rating{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-rating img{
    height: 20px;
}

.trust-pilot-stars{
    margin: 0 12px;
}

.trust-pilot-logo{
    margin-left: 7px;
}

.review-number{
    font-weight: bold;
}
/* END OF REVIEWS */

/* PRICING PLANS */
.card{
    padding: 40px 20px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.cards{
    justify-content: space-between;
}

.card:hover{
    background: #F5F5F7;
}


.card .free-trial .btn-blue-outline:hover{
    background: #009F77;
    color: #fff;
    border: 1px solid transparent;
}

.card:hover .btn-blue-outline{
    background: #2AFC85;
    color: #383E66;
    border: 1px solid transparent;
}

.pricing-plans{
flex-direction: column;
margin-bottom: 100px;
}

.pricing-heading{
    text-align: center;
    margin: 100px 0 40px;
}

.pricing-text{
    text-align: center;
}

.pricing-text h2{
    margin-bottom: 20px;
}

.plan-price{
    font-weight: bold;
    font-size: 60px;
}

.free-trial{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.free-trial span{
    font-size: 0.85em;
    margin-top: 7px;
}

.penta-banking{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    padding-bottom: 7px;
    border-bottom: 1px solid #CDCED9;
    margin-bottom: 20px;
    color: #6A6E8C;
}

.points li{
    margin-bottom: 20px;
}

.points li::before{
    content: url("./images/correct.svg");
    padding-right: 15px;
}

.pricing-text img{
    padding-top: 20px;
}
/* END OF PRICING PLANS */

/* FAQ */
.faq{
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.faq-heading{
    text-align: center;
    margin-bottom: 80px;
}

.question{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid #CDCED9;
    cursor: pointer;
    padding: 18px;
    transition: 0.4s;
}

.question:after{
    content: '\002B';
    color: #383E66;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 10px;
}

.faq-active{
    border: 1.5px solid #383E66;
    margin-bottom: 15px;
}

.faq-active:nth-of-type(2), .faq-active:nth-of-type(3){
    margin-top: 20px;
}
  
.faq-active:after{
    content: "\2212";
}
  
.answer{
    padding:0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 300%;
    width: 80%;
}

.question h3{
    font-size: 1.4em;
}

.answer ul{
    margin: 10px;
}

.answer ul li{
    list-style-type: disc;
    line-height: 200%;
}
/* END OF FAQ */

/* SIGN UP */
.sign-up{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #383E66;
}

.sign-up h2{
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}
/* END OF SIGN UP */

/* FOOTER */
footer{
    padding: 80px 0;
    font-size: 0.85em;
}

footer .container{
    justify-content: space-between;
}

.footer-main li{
    margin-bottom: 10px;
}

.footer-address{
    padding: 20px 0;
}

.footer-main li img{
    width: 60%;
}

.footer-main li a:hover{
    color: #2B67F5;
}

.trustpilot-footer img{
    display: block;
}

.trustpilot-footer-logo{
    width: 130px;
}

.trustpilot-footer-stars{
    width: 200px;
    margin: 15px 0;
}

.app-store img{
    height: 40px;
}

.footer-images{
    align-items: center;
    padding-top: 40px;
}

.footer-bottom{
    margin: 50px auto;
}

.terms-privacy a{
    padding: 0 10px;
}

.partners{
    display: flex;
}

.partners-image{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.partners-image img{
    height: 25px;
    padding-left: 7px;
}
/* END OF FOOTER */


/* Animation for the mobile menu */
@keyframes fade {
    0% {opacity: 0; left: -100%}
    100% {opacity: 1; left: 15px}
}

@media screen and (max-width:1000px){
    .container{
        max-width: 750px;
    }

    .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-footer{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }

    nav{
        width: 100%;
    }

    .variation-section h2{
        width: 100%;
    }

    .cards, main, .align-center{
        flex-direction: column;
    }

    .variation-card{
        padding-bottom: 30px;
    }

    .variation-card:last-child{
        padding-bottom: 0;
    }

    .pricing-plans{
        margin-bottom: 60px;
    }

    .question, .answer{
        width: 100%;
    }

    footer{
        font-size: 1em;
    }

    .footer-main li img{
        width: 50%;
    }

    footer .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .partners{
        padding: 20px 0 50px;
    }

    .established{
        order: 2;
    }
}

@media screen and (max-width: 768px){
    body{
        font-size: 0.85em;
    }

    .hero{
        background: url("./images/summer_mb.png.webp") center;
        background-size: cover;
        height: 360px;
    }

    .container{
        max-width: 540px;
    }

    .review-text{
        max-width: 100%;
    }

    .main-text h2, .main-text p{
        margin-right: 0;
        text-align: center;
    }

    .main-cta-buttons{
        flex-direction: column;
        align-items: center;
    }

    .main-cta-buttons a:first-child{
        margin: 0 0 15px;
    }

    .sale .container {
        padding: 10px 30px 10px 0;
    }

    span.close{
        left: calc(100% - 15px);
    }

    .partners-image p{
        display: none;
    }
}

